@charset "UTF-8";
/* color: #212121 - черный на ссылке портфолио и пр - secondary color */
/* color: #757575 - серый - primary color*/
/* color: #2196F3 - синий на лого - accent */
/* color: #FFFFFF - белый на герое и ссылках - white */
/* color: #000000 - черный на лого  */
/*color: rgba(255, 255, 255, 0.6) - белый в футере - white-footer*/
/* background: rgba(47, 48, 58, 0.8) - темно-серый -bgr color secondary*/
/* background: #F5F4FA - светло-серый - bgr color primary*/
/* background: #2F303A - бэкграунд футера */
.modal-submit, .agreement-checkbox, .icon-modal-form, .close-form, .benefits-icon-block, .links, .team-links, .clients-logo, .join-links, .join-links-item, .button-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.body {
  color: #757575;
  font-family: roboto, sans-serif;
  letter-spacing: 0.02em;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-name {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}

.container {
  margin: 0 auto 0 auto;
  padding: 60px 15px 60px 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-blue {
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

.nav {
  /*display: flex;
  align-items: center;*/
}

.nav-item {
  position: relative;
}

.nav-item-link {
  display: block;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  /*display: flex;*/
  margin-left: 85px;
}

.site-nav:hover, .site-nav:focus {
  color: #2196f3;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

/*.site-header .container {
  display: flex;
  align-items: center;
}*/
.contacts {
  /*display: flex;*/
}

.contacts-header {
  margin-left: auto;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-item a {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item :hover,
.contacts-item :focus {
  color: #2196f3;
}

.contacts-item:not(:last-child) {
  margin-right: 30px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-nav-close {
  display: none;
}

.menu-button.is-open .icon-nav-close {
  display: block;
}

.menu-button.is-open .icon-nav-menu {
  display: none;
}

.hero {
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../../images/Hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/Hero.jpg);
}

.hero .container {
  padding: 0;
}

.main-slogan {
  color: #ffffff;
  padding-top: 118px;
  margin: 0 0 30px 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .main-slogan {
    padding-top: 200px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.order-button {
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}

/*Модальное окно*/
.backdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  max-width: 450px;
  width: 100%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    max-width: 528px;
  }
}

.modal-slogan {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-submit {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2196f3;
  border: none;
  outline: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*width: 100%;*/
  margin-left: auto;
  margin-right: auto;
}

.modal-form-field {
  position: relative;
  margin-bottom: 28px;
}

.modal-form-comment {
  position: relative;
  padding: 0;
  margin: 0 0 20px 0;
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  text-indent: 42px;
  outline: transparent;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.modal-form-input:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  color: #2196f3;
  -webkit-transform: translateY(-42px) translateX(-23px);
          transform: translateY(-42px) translateX(-23px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus ~ .icon-modal-form,
.modal-form-input:not(:placeholder-shown) ~ .icon-modal-form {
  fill: #2196f3;
}

.form-label-comment {
  position: absolute;
  top: 12px;
  left: 16px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area {
  border: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.comment-area:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.comment-area:focus + .form-label-comment,
comment-area:not(:placeholder-shown) + .form-label-comment {
  color: #2196f3;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

.agreement-checkbox {
  position: relative;
  margin-bottom: 30px;
}

.check-text {
  color: #212121;
  margin-left: 7px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  left: 0;
  top: 0;
}

@media screen and (min-width: 1200px) {
  .check-text::before {
    left: 8px;
  }
}

.checkbox:checked + .check-text::before {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.agreement-link {
  color: #2196f3;
}

.icon-modal-form {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
}

.close-form {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.close-form:hover .close-icon {
  fill: #2196f3;
}

.close-form:hover {
  cursor: pointer;
}

.close-form-icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0;
  padding: 0;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.benefits-image {
  padding: 25px 100px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.benefits-list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    width: calc((100% - 30px * 4) / 4);
  }
}

@media screen and (max-width: 767px) {
  .benefits-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits-list-name {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .benefits-list-name {
    text-align: center;
  }
}

.benefits-list-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}

.benefits-icon-block {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .business-container {
    display: none;
    margin: 0;
    padding: 0;
  }
}

.business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 94px;
}

.business-image {
  display: block;
  margin: 0;
}

.business-item {
  color: #ffffff;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .business-item {
    width: calc((100% - 30px * 2) / 3);
  }
}

.business-item-name {
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  padding: 27px 0 27px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team-member {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-member {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    width: calc((100% - 30px * 4) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team-member:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-member-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 16px 0;
}

.team-member-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
}

.our-team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.our-team img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 30px;
}

.links {
  margin-bottom: 24px;
}

.team-links {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-links:hover {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 50%;
}

.team-links-icon {
  fill: currentColor;
  padding: 0;
}

.team-links-icon:hover {
  color: #ffffff;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients-logo {
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients-logo-block {
  width: calc((100% - 30px * 2) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-logo-block {
    width: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-logo-block {
    width: calc((100% - 30px * 6) / 6);
  }
}

.icon-logo {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer-container {
  text-align: center;
  padding: 60px 15px 60px 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .block-adress {
    padding-bottom: 60px;
  }
  .block-join {
    padding-bottom: 60px;
  }
  .block-sign {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .block-for-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .block-for-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .block-sign {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .block-adress {
    margin-right: 69px;
  }
}

.adress-main {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.adress-main p {
  margin: 0;
}

.adress-links {
  margin-top: 8px;
}

.adress-links a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.join {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 20px;
}

@media screen and (min-width: 1200px) {
  .join {
    text-align: left;
  }
}

/* width: calc((100% - 60px) / 4);
}
.block-adress {
  width: calc((100% - 60px) / 4);
}
.block-join {
  width: calc((100% - 60px) / 4);
}*/
.sign {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .sign {
    text-align: left;
    margin: 0 0 20px;
  }
}

.sign-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  /*padding: 15px 16px;*/
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .sign-input {
    margin: 20px 0;
  }
}

@media screen and (min-width: 1200px) {
  .sign-input {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
}

.join-links {
  /*align-content: flex-start;*/
}

.join-links li:not(:last-child) {
  margin-right: 10px;
}

.join-links-icon {
  fill: currentColor;
}

.join-links-item {
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-links-item:hover {
  background-color: #2196f3;
}

.button-sign {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  border-color: #2196f3;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .button-sign {
    margin-left: 12px;
    padding: 13px 29px;
  }
}

.button-sign:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */