.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.body {
  color: $primary-color;
  font-family: roboto, sans-serif;
  letter-spacing: 0.02em;
}
.section {
  padding-top: 94px;

  /*&-name {
    color: $secondary-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
  }*/
}

.container {
  // max-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px auto 0px auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1200px;
  }
}
