.footer {
  background-color: $bgr-footer;
}

.footer-container {
  text-align: center;
  padding: 60px 15px 60px 15px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .block-adress {
    padding-bottom: 60px;
  }
  .block-join {
    padding-bottom: 60px;
  }
  .block-sign {
    padding-bottom: 60px;
  }
}

.block-for-tablet {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.block-sign {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }
}
.block-adress {
  @media screen and (min-width: 1200px) {
    margin-right: 69px;
  }
}
.adress-main {
  color: $color-white;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;

  p {
    margin: 0;
  }
}

.adress-links {
  margin-top: 8px;

  a {
    color: $white-footer;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.join {
  color: $color-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

/* width: calc((100% - 60px) / 4);
}
.block-adress {
  width: calc((100% - 60px) / 4);
}
.block-join {
  width: calc((100% - 60px) / 4);
}*/

.sign {
  color: $color-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin: 0 0 20px;
  }

  &-input {
    width: 100%;
    max-width: 450px;
    height: 50px;

    @media screen and (max-width: 1199px) {
      margin: 20px 0;
    }
    /*padding: 15px 16px;*/
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $bgr-footer;

    @media screen and (min-width: 1200px) {
      width: 358px;
    }
  }
  &-form {
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-top: 20px;
    }
  }
}

.join-links {
  @extend %flex-center;
  /*align-content: flex-start;*/

  li:not(:last-child) {
    margin-right: 10px;
  }

  &-icon {
    fill: currentColor;
  }

  &-item {
    @extend %flex-center;
    width: 44px;
    height: 44px;
    color: $color-white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $bgr-accent;
    }
  }
}

.button-sign {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  @extend %flex-center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $color-white;
  background-color: $bgr-accent;

  border: none;
  border-radius: 4px;
  border-color: $accent-blue;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    padding: 13px 29px;
  }
  &:hover {
    cursor: pointer;
  }
}
