/*Модальное окно*/
.backdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $brg-secondary;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 93px 15px;
  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    & .modal {
      transform: translate(-50%, -50%) scale(0.9);
      transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.modal {
  position: relative;
  max-width: 450px;
  width: 100%;

  background-color: $color-white;

  margin-left: auto;
  margin-right: auto;
  padding: 40px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    max-width: 528px;
  }

  &-slogan {
    margin: 0 0 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-color;
  }

  &-submit {
    width: 200px;
    height: 50px;

    @extend %flex-center;
    margin-right: auto;
    margin-left: auto;

    background-color: $bgr-accent;

    border: none;
    outline: transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: $color-white;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  /*width: 100%;*/
  margin-left: auto;
  margin-right: auto;

  &-field {
    position: relative;
    margin-bottom: 28px;
  }

  &-comment {
    position: relative;

    padding: 0;
    margin: 0 0 20px 0;
  }

  &-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-input {
    width: 100%;
    height: 40px;
    text-indent: 42px;

    outline: transparent;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    &:focus {
      outline: transparent;
      border: 1px solid $accent-blue;
    }
  }
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  color: $accent-blue;
  transform: translateY(-42px) translateX(-23px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus ~ .icon-modal-form,
.modal-form-input:not(:placeholder-shown) ~ .icon-modal-form {
  fill: $accent-blue;
}

.form-label-comment {
  position: absolute;
  top: 12px;
  left: 16px;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area {
  border: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;

  resize: none;

  &:focus {
    outline: transparent;
    border: 1px solid $accent-blue;
  }
}
.comment-area:focus + .form-label-comment,
comment-area:not(:placeholder-shown) + .form-label-comment {
  color: $accent-blue;
  transform: translateY(-35px);
}
.agreement-checkbox {
  position: relative;
  @extend %flex-center;
  margin-bottom: 30px;
}
.check-text {
  color: $secondary-color;
  margin-left: 7px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 15px;
    border: 2px solid $secondary-color;
    border-radius: 3px;
    left: 0;
    top: 0;
    @media screen and (min-width: 1200px) {
      left: 8px;
    }
  }
}
.checkbox:checked + .check-text::before {
  border-color: $accent-blue;
  background-color: $accent-blue;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.agreement-link {
  color: $accent-blue;
}
.icon-modal-form {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  @extend %flex-center;
  width: 18px;
  height: 18px;
  fill: $secondary-color;
}
.close-form {
  position: absolute;
  @extend %flex-center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  &:hover .close-icon {
    fill: $accent-blue;
  }

  &:hover {
    cursor: pointer;
  }

  &-icon {
    display: inline-block;
    width: 11px;
    height: 11px;

    margin: 0;
    padding: 0;

    fill: $color-black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
